* {
    margin:0;
    padding:0;
}
header[class="topHeader"] {
    width:100%;
    height:42px;
    background-color:#2272bd;
}

.topHeader .mainMenuButton {
    background-image:url(menu-btn.png);
    background-repeat:no-repeat;
    height:32px;
    width:32px;
    margin-left:5px;
    margin-block:5px;
    top:5px;
    background-color:red;
}