* {
  margin:0;
  padding:0;
}

body {
  min-width:512px;
  min-height:100vh;
  padding-bottom:5px;
  overflow-y:hidden;
}

.mainTopDiv {
  background-image:url(../img/top-sprite.png);
  background-repeat:repeat-x;
  height:112px;
  padding-top:10px;
  position:relative;
}

.upeLogo{
  background-image:url(../img/upe-logo.png);
  height:57px;
  width:128px;
  margin-left:auto;
  margin-right:auto;
}

.userDetails{
  background-color:#10ff0010;
  position:relative;
  margin-top:8px;
  height:37px;
  padding-left:6px;
  padding-right:6px;
  width:100%;
  color:white;
  font-size:12px;
  line-height:37px;
  display:flex;
  overflow:hidden;
}

.mainMenuButton {
  background-image:url(../img/menu-button.png);
  background-repeat:no-repeat;
  background-size:40px 37px;
  height:37px;
  width:40px;
  top:75px;
  left:0;
}

.mainMenuButton:hover{
  background-image:url(../img/menu-button-hover.png)
}

.itemsMenu{
  margin-left:12px;
  color:white;
  font-family:"Droid", sans-serif;
  padding-left:6px;
  padding-right:6px;
  font-size:12px;
}

.itemsMenu:hover{
  text-decoration:none;
  color:lightgray;
}

.mainMenuDeactived{
  position:absolute;
  height:calc(100% + 30px);
  width:270px;
  background-color:#194a8d;
  transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  transition: ease all .8s;
  z-index:99;
}

.mainMenu{
  position:absolute;
  height:calc(100% + 30px);
  width:270px;
  background-color:#194a8d;
  padding-bottom:10px;
  transition: ease all .8s;
  z-index:99;
  border-right:1px solid #10315e;
}

.blackBackground{
  position:absolute;
  z-index:98;
  background-color:#0000007f;
  height:100%;
  width:100%;
  min-width:512px;
  height:calc(100% + 30px);
}

.calupeLogo {
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  border-bottom:1px solid lightgray;
  width:256px;
  height:72px;
  background-image:url(../img/calupe-logo.png);
  background-repeat:no-repeat;
}

.mainMenuItems{
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:256px;
  padding:5px;
  text-align:left;
}

.mainMenuItems a {
  width:100%;
  line-height:36px;
  display:inline-block;
  text-decoration:none;
  color:white;
  text-indent:10px;
  margin-top:5px;
}

.mainMenuItems a:hover{
  color:gray;
  background-color:#ffffff2f;
  border-left:4px solid darkorange;
}

.userSettings {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  height: 30px;
  width: 100%;
  position:relative;
}

#mainframe{
  position:absolute;
  top:142px;
  width:100%;
  min-width:512px;
  height:calc(100% - 142px)!important;
  overflow-y:auto!important;
}

.loaderAnim{
  height:128px;
  width:128px;
  background-image:url(../img/loader-anim.gif);
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
}

.dialogBoxContainer {
  height:300px;
  width:400px;
  background-color:whitesmoke;
  margin:200px auto;
}