* {
  margin:0;
  padding:0;
}

:root{
  --min-body-width:512px;
  --min-body-height:1024px;
}

@media screen and (min-width: 512px) {
  html,body {
    min-width:512px;
    min-height:100vh;
    overflow:hidden;
    overflow-x:auto;
  }
  
  /*@media screen and (max-height: 410px)*/
  @media screen and (max-height: 565px) {
    html,body {
      min-width:512px;
      height:640px!important;
      overflow:auto!important;
      /*overflow-y:auto!important;*/
    }
    :root{
      --min-body-height:640px!important;
    }

    #mainframe{
      height:calc(var(--min-body-height) - 142px)!important;
    }

    .mainMenuDeactived{
      height:calc(var(--min-body-height)- 112px)!important;
    }
    
    .mainMenu{
      height:calc(var(--min-body-height) - 112px)!important;
    }
    
    .blackBackground{
      height:calc(var(--min-body-height) - 112px)!important;
    }
  }

  .mainTopDiv {
    background-image:url(../img/top-sprite.png);
    background-repeat:repeat-x;
    height:112px;
    padding-top:10px;
    position:relative;
  }
  
  .upeRelated{
    width:100%;
    height:57px;
  }

  .upeLogo{
    background-image:url(../img/upe-logo.png);
    background-repeat:no-repeat;
    height:57px;
    width:128px;
    margin-left:8px;
  }

  .upeSiga {
    background-image:url(../img/siga-logo.png);
    background-repeat:no-repeat;
    height:57px;
    width:140px;
    margin-right:8px;
  }
  
  .userDetails{
    background-color:#10ff0010;
    position:relative;
    margin-top:8px;
    height:37px;
    padding-left:6px;
    padding-right:6px;
    width:100%;
    color:white;
    font-size:12px;
    line-height:37px;
    display:flex;
    overflow:hidden;
  }
  
  .mainMenuButton {
    background-image:url(../img/menu-button.png);
    background-repeat:no-repeat;
    background-size:40px 37px;
    height:37px;
    width:40px;
    top:75px;
    left:0;
  }
  
  .mainMenuButton:hover{
    background-image:url(../img/menu-button-hover.png)
  }
  
  .itemsMenu{
    margin-left:12px;
    color:white;
    font-family:"Droid", sans-serif;
    padding-left:6px;
    padding-right:6px;
    font-size:12px;
  }
  
  .itemsMenu:hover{
    text-decoration:none;
    color:lightgray;
  }
  
  .mainMenuDeactived{
    position:absolute;
    height:calc(100% - 112px);
    width:270px;
    background-color:#194a8d;
    transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    transition: ease all .8s;
    z-index:99;
  }
  
  .mainMenu{
    position:absolute;
    height:calc(100% - 112px);
    width:270px;
    background-color:#194a8d;
    padding-bottom:10px;
    transition: ease all .8s;
    z-index:99;
    border-right:1px solid #10315e;
  }
  
  .blackBackground{
    position:absolute;
    z-index:98;
    background-color:#0000007f;
    width:100%;
    min-width:512px;
    height:calc(var(--min-body-height) - 112px)!important;
  }
  
  .calupeLogo {
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid lightgray;
    width:256px;
    height:72px;
    background-image:url(../img/calupe-logo.png);
    background-repeat:no-repeat;
  }
  
  .mainMenuItems{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:256px;
    padding:5px;
    text-align:left;
  }
  
  .mainMenuItems a {
    width:100%;
    line-height:36px;
    display:inline-block;
    text-decoration:none;
    color:white;
    text-indent:10px;
    margin-top:5px;
  }
  
  .mainMenuItems a:hover{
    color:gray;
    background-color:#ffffff2f;
    border-left:4px solid crimson;
  }
  
  .userSettings {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    height: 30px;
    width: 100%;
    position:relative;
  }
  
  #mainframe{
    position:absolute;
    top:142px;
    width:100%;
    min-width:512px;
    height:calc(100% - 142px);
    overflow-y:auto;
  }
  
  .loaderAnim{
    height:128px;
    width:128px;
    background-image:url(../img/loader-anim.gif);
    background-repeat:no-repeat;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
  }
  
  .dialogBoxContainer {
    height:300px;
    width:400px;
    background-color:whitesmoke;
    margin-left:auto;
    margin-right:auto;
    margin-top:140px;
    border-radius:4px;
    border:1px solid #003063;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  }

  .dialogBoxTitle{
    width:100%;
    height:32px;
    background-color:#003063;
    display:flex;
    background-image:url(../img/upe-mini.png);
    background-repeat:no-repeat;
    background-size: 32px 14px;
    background-position:9px 8px;
    text-indent:50px;
    font-family:Optima, Arial, Helvetica, sans-serif;
    font-size:0.75em;
    font-weight: bold;
    line-height:32px;
    color:whitesmoke;
  }

  .dialogBoxInnerContainer {
    width:100%;
    margin:0;
    padding:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height:calc(100% - 32px);
    overflow:hidden;
    overflow-y:auto;
    word-break:break-all;
  }

  .logout:hover a {
    color:#10315e!important;
    text-decoration:none;
  }
  
  .logout:hover i {
      color:#000000!important;
  }

  .user-details-title {
    color:#007bff;
    margin-left:1rem!important;
  }

  .user-details-text {
      color:#10315e;
      margin-left:5px;
  }
}

@media screen and (max-width: 511px) {
  html, body {
    zoom:1;
    overflow:auto;
    width:var(--min-body-width);
    height:var(--min-body-height);
    overflow-x: hidden; 
    overflow-x:auto;
  }

  .mainTopDiv {
    background-image:url(../img/top-sprite.png);
    background-repeat:repeat-x;
    height:112px;
    padding-top:10px;
    position:relative;
  }
  
  .upeRelated{
    width:100%;
    height:57px;
  }

  .upeLogo{
    background-image:url(../img/upe-logo.png);
    background-repeat:no-repeat;
    height:57px;
    width:128px;
    margin-left:8px;
  }

  .upeSiga {
    background-image:url(../img/siga-logo.png);
    background-repeat:no-repeat;
    height:57px;
    width:140px;
    margin-right:8px;
  }
  
  .userDetails{
    background-color:#10ff0010;
    position:relative;
    margin-top:8px;
    height:37px;
    padding-left:6px;
    padding-right:6px;
    width:100%;
    color:white;
    font-size:12px;
    line-height:37px;
    display:flex;
    overflow:hidden;
  }
  
  .mainMenuButton {
    background-image:url(../img/menu-button.png);
    background-repeat:no-repeat;
    background-size:40px 37px;
    height:37px;
    width:40px;
    top:75px;
    left:0;
  }
  
  .mainMenuButton:hover{
    background-image:url(../img/menu-button-hover.png)
  }
  
  .itemsMenu{
    margin-left:12px;
    color:white;
    font-family:"Droid", sans-serif;
    padding-left:6px;
    padding-right:6px;
    font-size:12px;
  }
  
  .itemsMenu:hover{
    text-decoration:none;
    color:lightgray;
  }
  
  .mainMenuDeactived{
    position:absolute;
    height:calc(var(--min-body-height) - 112px);
    width:270px;
    background-color:#194a8d;
    transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    transition: ease all .8s;
    z-index:99;
  }
  
  .mainMenu{
    position:absolute;
    height:calc(var(--min-body-height) - 112px);
    width:270px;
    background-color:#194a8d;
    padding-bottom:10px;
    transition: ease all .8s;
    z-index:99;
    border-right:1px solid #10315e;
  }
  
  .blackBackground{
    position:absolute;
    z-index:98;
    background-color:#0000007f;
    height:calc(var(--min-body-height) - 112px);
    width:var(--min-body-width);
  }
  
  .calupeLogo {
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid lightgray;
    width:256px;
    height:72px;
    background-image:url(../img/calupe-logo.png);
    background-repeat:no-repeat;
  }
  
  .mainMenuItems{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:256px;
    padding:5px;
    text-align:left;
  }
  
  .mainMenuItems a {
    width:100%;
    line-height:36px;
    display:inline-block;
    text-decoration:none;
    color:white;
    text-indent:10px;
    margin-top:5px;
  }
  
  .mainMenuItems a:hover{
    color:gray;
    background-color:#ffffff2f;
    border-left:4px solid crimson;
  }
  
  .userSettings {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    height: 30px;
    width: 100%;
    position:relative;
  }
  
  #mainframe{
    position:absolute;
    top:142px;
    width:var(--min-body-width)!important;
    height:calc(var(--min-body-height) - 142px);
    overflow-y:auto;
  }
  
  .loaderAnim{
    height:128px;
    width:128px;
    background-image:url(../img/loader-anim.gif);
    background-repeat:no-repeat;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
  }
  
  .dialogBoxContainer {
    height:300px;
    width:400px;
    background-color:whitesmoke;
    margin-left:auto;
    margin-right:auto;
    margin-top:140px;
    border-radius:4px;
    border:1px solid #003063;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  }

  .dialogBoxTitle{
    width:100%;
    height:32px;
    background-color:#003063;
    display:flex;
    background-image:url(../img/upe-mini.png);
    background-repeat:no-repeat;
    background-size: 32px 14px;
    background-position:9px 8px;
    text-indent:50px;
    font-family:Optima, Arial, Helvetica, sans-serif;
    font-size:0.75em;
    font-weight: bold;
    line-height:32px;
    color:whitesmoke;
  }

  .dialogBoxInnerContainer {
    width:100%;
    margin:0;
    padding:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height:calc(100% - 32px);
    overflow:hidden;
    overflow-y:auto;
    word-break:break-all;
  }

  .logout:hover a {
    color:#10315e!important;
    text-decoration:none;
  }

  .logout:hover i {
      color:#000000!important;
  }

  .user-details-title {
    color:#007bff;
    margin-left:1rem!important;
  }

  .user-details-text {
      color:#10315e;
      margin-left:5px;
  }
}